<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/post-message" method="post">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>

    <% if (locals.fileLink != null) { %>
        <div style="margin-bottom: 1rem;">
          Your file is uploaded
          <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
      <% } %>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <button style="grid-column: span 2;" type="submit">Share</button>
      </form>

    <a href="/login">
        easter-egg
    </a>
        <% for (var i = 0; i < details.length; i ++) { %>
            <p><%= details[i].name %>:</p>
            <p class="messages"><%= details[i].message %></p>
            <p style="display: none;" class="realMessage"><%= details[i].realMessage %></p>
        <% } %>
    <button onclick="decrypt()">decrypt</button>

    <script>
        function decrypt() {
            const pass = prompt("Enter the passcode to decrypt the messages:")
            var messages = document.getElementsByClassName("messages")
            var realMessages = document.getElementsByClassName("realMessage")
            console.log(realMessages.length);
            console.log(messages, realMessages)
            if (pass == 1234) {
                if (realMessages) {
                    for (var i = 0; i < realMessages.length; i ++) {
                        realMessages[i].style.display = "block";
                    }
                }
                if (messages) {
                    for (var i = 0; i < messages.length; i ++) {
                        messages[i].style.display = "none";
                    }
                }
            } else {
                alert("Wrong password")
            }
        }
    </script>

</body>
</html>